@page
@model PhotoShare.Pages.PhotoUsers.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Photographer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Photographer.Name" class="control-label"></label>
                <input asp-for="Photographer.Name" class="form-control" />
                <span asp-validation-for="Photographer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photographer.City" class="control-label"></label>
                <input asp-for="Photographer.City" class="form-control" />
                <span asp-validation-for="Photographer.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photographer.Email" class="control-label"></label>
                <input asp-for="Photographer.Email" class="form-control" />
                <span asp-validation-for="Photographer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photographer.ProfilePic" class="control-label"></label>
                <input asp-for="Photographer.ProfilePic" class="form-control" />
                <span asp-validation-for="Photographer.ProfilePic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photographer.Degree" class="control-label"></label>
                <input asp-for="Photographer.Degree" class="form-control" />
                <span asp-validation-for="Photographer.Degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photographer.YearsOfExperience" class="control-label"></label>
                <input asp-for="Photographer.YearsOfExperience" class="form-control" />
                <span asp-validation-for="Photographer.YearsOfExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photographer.PhoneNumber" class="control-label"></label>
                <input asp-for="Photographer.PhoneNumber" class="form-control" />
                <span asp-validation-for="Photographer.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
