@page
@using PhotoShare.Views.Shared.Components.AdminMenu
@using PhotoShare.Areas.Identity.Pages.Photgraphers
@model RegisterPhotographersModel
@{
    ViewData["Title"] = "Register";
}
<link href="~/css/simple-sidebar.css" rel="stylesheet" />
<h1>@ViewData["Title"]</h1>

<div class="d-flex" id="wrapper">

    @await Component.InvokeAsync("AdminMenu", new AdminMenuViewModel(typeof(RegisterPhotographersModel).Namespace))

    <div id="page-content-wrapper">

        @{
            await Html.RenderPartialAsync("_ToggleMenuPartial");
        }

        <div class="row">
            <div class="col-md-4">
                <form asp-route-returnUrl="@Model.ReturnUrl" enctype="multipart/form-data" method="post">
                    <h4>Create a new account.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Name"></label>
                        <input asp-for="Input.Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Upload"></label>
                        <input type="file" name="upload" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.PhoneNumber"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.City"></label>
                        <input asp-for="Input.City" class="form-control" />
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.YearsOfExpirience"></label>
                        <input asp-for="Input.YearsOfExpirience" class="form-control" />
                        <span asp-validation-for="Input.YearsOfExpirience" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Degree"></label>
                        <input asp-for="Input.Degree" class="form-control" />
                        <span asp-validation-for="Input.Degree" class="text-danger"></span>
                    </div>
                    @* } *@

                    <div class="form-group">
                        <label asp-for="Input.UserRoleToRegister" class="control-label"></label>
                        <select asp-for="Input.UserRoleToRegister" asp-items="@Model.Options" class="form-control">
                            <option value="">Choose a role</option>
                        </select>
                        <span asp-validation-for="Input.UserRoleToRegister" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.DOB"></label>
                        <input asp-for="Input.DOB" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
