@page
@using PhotoShare.Views.Shared.Components.AdminMenu
@model PhotoShare.Pages.Location.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<link href="~/css/simple-sidebar.css" rel="stylesheet" />

<div class="d-flex" id="wrapper">

    @await Component.InvokeAsync("AdminMenu", new AdminMenuViewModel(typeof(CreateModel).Namespace))

    <div id="page-content-wrapper">

        @{
            await Html.RenderPartialAsync("_ToggleMenuPartial");
        }

        <h1>Create</h1>

        <div class="row">
            <div class="col-md-4">
                @{
                    await Html.RenderPartialAsync("_FormErrorMessagePartial", Model.ErrorMessage);
                }
                <form enctype="multipart/form-data" method="post" style="float:left;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>                   
                    <div class="form-group">
                        <label asp-for="Location.Name" class="control-label"></label>
                        <input asp-for="Location.Name" class="form-control" />
                        <span asp-validation-for="Location.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location.TelephonePrefix1" class="control-label"></label>
                        <input asp-for="Location.TelephonePrefix1" class="form-control"/>
                        <span asp-validation-for="Location.TelephonePrefix1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location.SearchIndex" class="control-label"></label>
                        <input asp-for="Location.SearchIndex" class="form-control" />
                        <span asp-validation-for="Location.SearchIndex" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Upload"></label>
                        <input type="file" name="upload" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="AreaId" class="control-label"></label>
                        <select asp-for="AreaId" asp-items="@Model.Cities" class="form-control">
                            <option value="">Choose a day</option>
                        </select>
                        <span asp-validation-for="AreaId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-page="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}