@page
@model PhotoShare.Pages.Location.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Location.ID" />
            <div class="form-group">
                <label asp-for="Location.Name" class="control-label"></label>
                <input asp-for="Location.Name" class="form-control" />
                <span asp-validation-for="Location.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.TelephonePrefix1" class="control-label"></label>
                <input asp-for="Location.TelephonePrefix1" class="form-control" />
                <span asp-validation-for="Location.TelephonePrefix1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.TelephonePrefix2" class="control-label"></label>
                <input asp-for="Location.TelephonePrefix2" class="form-control" />
                <span asp-validation-for="Location.TelephonePrefix2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.SearchIndex" class="control-label"></label>
                <input asp-for="Location.SearchIndex" class="form-control" />
                <span asp-validation-for="Location.SearchIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.NumberOfOutposts" class="control-label"></label>
                <input asp-for="Location.NumberOfOutposts" class="form-control" />
                <span asp-validation-for="Location.NumberOfOutposts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.NumberOfPictures" class="control-label"></label>
                <input asp-for="Location.NumberOfPictures" class="form-control" />
                <span asp-validation-for="Location.NumberOfPictures" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.NumberOfPhotographers" class="control-label"></label>
                <input asp-for="Location.NumberOfPhotographers" class="form-control" />
                <span asp-validation-for="Location.NumberOfPhotographers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
