@page
@model PhotoShare.Pages.Loc.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Start Bootstrap </div>
        <div class="list-group list-group-flush">
            <a asp-page="../Count/Index" class="list-group-item list-group-item-action">Countries</a>
            <a asp-page="../Prov/Index" class="list-group-item list-group-item-action bg-light">Provinces</a>
            <a asp-page="../PArea/Index" class="list-group-item list-group-item-action bg-light">Areas</a>
            <a asp-page="../Loc/Index" class="list-group-item list-group-item-action bg-light" style="background-color: #69F0AE;">Locations</a>
            <a asp-page="../Pictures/Index" class="list-group-item list-group-item-action bg-light">Pictures</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        </div>
    </div>
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            @*<div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>*@
        </nav>
        <h1>Create</h1>

        <div class="row">
            <div class="col-md-4">
                <form enctype="multipart/form-data" method="post" style="float:left;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Location.ID" class="control-label"></label>
                        <input asp-for="Location.ID" class="form-control" />
                        <span asp-validation-for="Location.ID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location.Name" class="control-label"></label>
                        <input asp-for="Location.Name" class="form-control" />
                        <span asp-validation-for="Location.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location.TelephonePrefix1" class="control-label"></label>
                        <input asp-for="Location.TelephonePrefix1" class="form-control"  value="0"/>
                        <span asp-validation-for="Location.TelephonePrefix1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location.TelephonePrefix2" class="control-label"></label>
                        <input asp-for="Location.TelephonePrefix2" class="form-control"  value="0" />
                        <span asp-validation-for="Location.TelephonePrefix2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location.NumberOfOutposts" class="control-label"></label>
                        <input asp-for="Location.NumberOfOutposts" class="form-control"  value="0" />
                        <span asp-validation-for="Location.NumberOfOutposts" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location.SearchIndex" class="control-label"></label>
                        <input asp-for="Location.SearchIndex" class="form-control" />
                        <span asp-validation-for="Location.SearchIndex" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Upload"></label>
                        <input type="file" name="upload" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Location.NumberOfPictures" class="control-label"></label>
                        <input asp-for="Location.NumberOfPictures" class="form-control"  value="0"/>
                        <span asp-validation-for="Location.NumberOfPictures" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location.NumberOfPhotographers" class="control-label"></label>
                        <input asp-for="Location.NumberOfPhotographers" class="form-control" value="0" />
                        <span asp-validation-for="Location.NumberOfPhotographers" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AreaId" class="control-label"></label>
                        <select asp-for="AreaId" asp-items="@Model.Cities" class="form-control">
                            <option value="">Choose a day</option>
                        </select>
                        <span asp-validation-for="Location.Area" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-page="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>